.right{
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 10px;
}

.card-ads{
    display: flex;
    flex-direction: column;
    border-radius: var(--border);
    border: 1.2px solid var(--border-color);
    background: var(--background-card);
    overflow: hidden;
}

.content-ad{
    display: flex;
    align-items: end;
    flex-direction: column;
    padding: 15px;
}

.content-ad h1{
    display: flex;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 600;
}

.content-ad h2{
    margin-top: 2px;
    font-size: 0.8rem;
    font-weight: 300;
    color: #878787;
}

.content-ad a{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 2px 8px;
    font-size: 0.85rem;
    font-weight: 500;
    background: var(--light-color);
    color: black;
    border-radius: 50px;
}
