.left{
    display: flex;
    flex-direction: column;
    width: 230px;
    gap: 10px;
}

.card-profile{
    display: flex;
    flex-direction: column;
    border: 1.2px solid var(--border-color);
    border-radius: var(--border);
    background: var(--background-card);
    overflow: hidden;
    color: var(--light-color);
    cursor: default;
}

.banner-card-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}

.banner-card-profile img{
    display: flex;
    width: fit-content;
    height: 100%;
    cursor: pointer;
}

.user-card-profile{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.user-card-profile img{
    margin-top: -50px;
    display: flex;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: 4px solid var(--background-card);
    cursor: pointer;
}

.user-card-profile h1{
    margin-top: 5px;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
}

.user-card-profile h2{
    font-size: 0.7rem;
    font-weight: 300;
    color: #969696;
    cursor: pointer;
}

.user-card-profile h3{
    margin-top: 10px;
    font-size: 0.8rem;
    font-weight: 400;
    cursor: pointer;
    color: #dcdcdc;
}

.card-info-profile{
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1.2px solid var(--border-color);
    border-radius: var(--border);
    background: var(--background-card);
    gap: 3px;
}

.card-info-profile a{
    text-decoration: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 0.85rem;
    font-weight: 400;
    color: #cdcdcd;
    cursor: pointer;
}
