.feed {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 630px;
    height: 2000px;
    border: 1.2px solid var(--border-color);
    border-radius: var(--border);
    background: var(--background-card);
}

.ctn-content-profile {
    display: flex;
    flex-direction: column;
    width: 875px;
    gap: 10px;
}

.card-content-profile {
    display: flex;
    flex-direction: column;
    border: 1.2px solid var(--border-color);
    border-radius: var(--border);
    background: var(--background-card);
    overflow: hidden;
    cursor: default;
}

.banner-profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 190px;
}

.banner-profile img {
    display: flex;
    width: 100%;
    height: fit-content;
}

.content-profile {
    margin-top: -110px;
    padding: 25px;
}

.img-profile {
    display: flex;
}

.img-profile img {
    display: flex;
    width: 170px;
    border-radius: 50%;
    border: 5px solid var(--background-card);
}

.content-info-profile {
    display: flex;
}

.user-name {
    margin-top: 15px;
    font-size: 1.6rem;
    font-weight: 500;
}

.title-profile {
    font-size: 1rem;
    font-weight: 300;
}

.location {
    margin-top: 10px;
    font-size: 0.9rem;
    font-weight: 300;
    color: #969696;
}

.following-followers {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.following-followers h1 {
    font-size: 1rem;
    font-weight: 400;
}

.card-job {
    display: flex;
    align-items: center;
    width: 230px;
    padding: 1px 3px;
    gap: 7px;
}

.card-job img {
    display: flex;
    width: 40px;
    height: fit-content;
}

.position-company {
    display: flex;
    flex-direction: column;
}

.position-company h1 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--light-color);
}

.position-company h2 {
    font-size: 0.8rem;
    font-weight: 300;
    color: #969696;
}

.btn-content-profile {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.btn-content-profile button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    border-radius: 50px;
    font-size: 0.9rem;
    color: #0d5dad;
    border: 1.2px solid #0d5dad;
    background: transparent;
    cursor: pointer;
}

.btn-content-profile .active {
    color: #f5f5f5;
    background: #0d5dad;
}

.btn-content-profile .active:hover {
    color: #f5f5f5;
    background: #0d5195;
}

.btn-content-profile button:hover {
    color: #0d5195;
    border-color: #0d5195;
}

.ctn-about{
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: 1.2px solid var(--border-color);
    border-radius: var(--border);
    background: var(--background-card);
    overflow: hidden;
    cursor: default;
    gap: 20px;
}

.header-card-about{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-card-about h1{
    font-size: 1.25rem;
    font-weight: 400;
}

.header-card-about button{
    font-size: 0.9rem;
    border: none;
    background: transparent;
    color: #b3b3b3;
    cursor: pointer;
}

.about p{
    font-size: 0.9rem;
    font-weight: 300;
    color: #ebebeb;
}