.feed {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 630px;
    height: 2000px;
    border: 1.2px solid var(--border-color);
    border-radius: var(--border);
    background: var(--background-card);
}

.ctn-developers {
    margin-top: 60px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.developer {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 380px;
    border: 1.2px solid var(--border-color);
    border-radius: 10px 0px 10px 0px;
    background: var(--background-card);
    overflow: hidden;
    transition: var(--transition-3s);
    cursor: default;
}

.ctn-developers .active {
    transform: scale(1.03);
}

.ctn-developers .active:hover {
    transform: scale(1.06);
}

.developer:hover {
    transform: scale(1.03);
}

.developer-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 360px;
    overflow: hidden;
}

.developer-img img {
    display: flex;
    width: 100%;
}

.ctn-developer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
}

.developer-name {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.developer-graduation {
    font-size: 0.85rem;
    font-weight: 300;
    color: #969696;
}

.title-developer-position {
    font-size: 1rem;
    font-weight: 600;
}

.developer-position {
    font-size: 0.9rem;
    font-weight: 300;
}

.developer-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.developer-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 1rem;
    color: var(--light-color);
    border: 1px solid transparent;
    border-radius: 50%;
    transition: var(--transition-3s);
}

.developer-links a:hover {
    border-color: var(--light-color);
    transform: translateY(-7px);
}


.ctn-content-profile {
    display: flex;
    flex-direction: column;
    width: 875px;
    gap: 10px;
}

.card-content-profile {
    display: flex;
    flex-direction: column;
    border: 1.2px solid var(--border-color);
    border-radius: var(--border);
    background: var(--background-card);
    overflow: hidden;
    cursor: default;
}

.banner-profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 190px;
}

.banner-profile img {
    display: flex;
    width: 100%;
    height: fit-content;
}

.content-profile {
    margin-top: -110px;
    padding: 25px;
}

.img-profile {
    display: flex;
}

.img-profile img {
    display: flex;
    width: 170px;
    border-radius: 50%;
    border: 5px solid var(--background-card);
}

.content-info-profile {
    display: flex;
}

.user-name {
    margin-top: 15px;
    font-size: 1.6rem;
    font-weight: 500;
}

.title-profile {
    font-size: 1rem;
    font-weight: 300;
}

.location {
    margin-top: 10px;
    font-size: 0.9rem;
    font-weight: 300;
    color: #969696;
}

.following-followers {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.following-followers h1 {
    font-size: 1rem;
    font-weight: 400;
}

.card-job {
    display: flex;
    align-items: center;
    width: 230px;
    padding: 1px 3px;
    gap: 7px;
}

.card-job img {
    display: flex;
    width: 40px;
    height: fit-content;
}

.position-company {
    display: flex;
    flex-direction: column;
}

.position-company h1 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--light-color);
}

.position-company h2 {
    font-size: 0.8rem;
    font-weight: 300;
    color: #969696;
}

.btn-content-profile {
    margin-top: 15px;
    display: flex;
    gap: 10px;
}

.btn-content-profile button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    border-radius: 50px;
    font-size: 0.9rem;
    color: #0d5dad;
    border: 1.2px solid #0d5dad;
    background: transparent;
    cursor: pointer;
}

.btn-content-profile .active {
    color: #f5f5f5;
    background: #0d5dad;
}

.btn-content-profile .active:hover {
    color: #f5f5f5;
    background: #0d5195;
}

.btn-content-profile button:hover {
    color: #0d5195;
    border-color: #0d5195;
}

.ctn-interests {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.ctn-interests p {
    display: flex;
    padding: 3px 15px;
    border: 1px solid var(--border-color);
    border-radius: 50px;
    font-size: 0.85rem;
    color: var(--light-color);
    background: #121212;
}

.ctn-about {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: 1.2px solid var(--border-color);
    border-radius: var(--border);
    background: var(--background-card);
    overflow: hidden;
    cursor: default;
    gap: 20px;
}

.header-card-about {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-card-about h1 {
    font-size: 1.25rem;
    font-weight: 400;
}

.header-card-about button {
    font-size: 0.9rem;
    border: none;
    background: transparent;
    color: #b3b3b3;
    cursor: pointer;
}

.about p {
    font-size: 0.9rem;
    font-weight: 300;
    color: #ebebeb;
}

.ctn-card {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: 1.2px solid var(--border-color);
    border-radius: var(--border);
    background: var(--background-card);
    overflow: hidden;
    cursor: default;
    gap: 20px;
}

.ctn-card hr {
    border: 1px solid #121212;
}

.header-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-card h1 {
    font-size: 1.25rem;
    font-weight: 400;
}

.btns-header-card {
    display: flex;
    gap: 25px;
}

.btns-header-card button {
    font-size: 0.9rem;
    border: none;
    background: transparent;
    color: #b3b3b3;
    cursor: pointer;
}

.ctn-my-courses {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.course h1 {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--light-color);
}

.course h2 {
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--light-color);
}

.course h3 {
    font-size: 0.9rem;
    font-weight: 300;
    color: #969696;
}

.ctn-academics {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.academic h1 {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--light-color);
}

.academic h2 {
    font-size: 0.9rem;
    font-weight: 300;
    color: #b8b8b8;
}

.academic h3 {
    font-size: 0.85rem;
    font-weight: 200;
    color: #717171;
}

.ctn-languages {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.language h1 {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--light-color);
}

.language h2 {
    font-size: 0.9rem;
    font-weight: 300;
    color: #b8b8b8;
}

.ctn-experiences {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.experience h1 {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--light-color);
}

.experience h2 {
    font-size: 0.9rem;
    font-weight: 300;
    color: #dadada;
}

.experience h3 {
    margin-top: 2px;
    font-size: 0.85rem;
    font-weight: 300;
    color: #999999;
}

.experience h4 {
    margin-top: 2px;
    font-size: 0.85rem;
    font-weight: 300;
    color: #999999;
}

.ctn-skills {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.skill h1 {
    margin-top: 5px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--light-color);
}

.ctn-projects {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.project h1 {
    font-size: 1rem;
    font-weight: 500;
    color: var(--light-color);
}

.project a {
    text-decoration: underline;
    font-size: 0.9rem;
    font-weight: 400;
    color: #0d5dad;
}

.project p {
    margin-top: 5px;
    font-size: 0.9rem;
    font-weight: 300;
    color: #d1d1d1;
}