header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    gap: 130px;
    border-bottom: 1px solid var(--border-color);
    background: var(--background-card);
}

.main-header.hidden {
    transform: translateY(-110%);
    opacity: 0;
    pointer-events: none;
}

.ctn-left-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    display: flex;
    width: 30px;
}

.repute {
    display: flex;
    gap: 5px;
}

.repute p {
    display: flex;
    width: fit-content;
    align-items: center;
    font-size: 0.85rem;
    color: #ababab;
    border-radius: 4px;
    gap: 5px;
}

.btn-to-search {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    justify-content: center;
    background: transparent;
    border: 1.3px solid var(--border-color);
    border-radius: 5px;
    gap: 15px;
    cursor: pointer;
}

.btn-to-search i {
    font-size: 1rem;
    color: #b7b7b7;
}

.btn-to-search h1 {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 500;
    color: #b7b7b7;
    gap: 6px;
}

.btn-to-search h1 span {
    padding: 3px 6px;
    border-radius: 4px;
    background: #ffffff20;
    font-size: 0.8rem;
    color: #c1c1c1;
}

nav ul {
    display: flex;
    gap: 4px;
}

nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
    padding: 20px 10px 10px 10px;
    font-size: 0.8rem;
    gap: 5px;
    color: #8a8a8a;
    transition: var(--transition-2s);
    border-bottom: 2px solid transparent;
}

nav ul li a i {
    font-size: 1.1rem;
}

nav ul li a:hover {
    color: var(--light-color);
}

nav ul li .active {
    color: var(--light-color);
    border-color: rgb(0, 88, 177);
}