@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --light-color: #f4f4f5;
    --dark-color: #000;
    --background: #010008;
    --background-card: #0b0b0b;
    --border-color: #202020;
    --border: 7px;
    --transition-2s: all 0.2s ease;
}

body{
    background: var(--background);
    color: var(--light-color);
    font-family: "Poppins", sans-serif;
}

.content{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn-chat-eloy{
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: flex;
    width: 30px;
    height: 30px;
    padding: 5px;
    background: var(--background-card);
    border-radius: 5px;
    border: 1px solid var(--border-color);
    transition: var(--transition-2s);
    cursor: pointer;
}

.btn-chat-eloy img{
    display: flex;
    width: 100%;
}

.btn-chat-eloy:hover{
    background: #141414;
}

.page-not-found{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 87vh;
}

.page-not-found img{
    display: flex;
    width: 250px;
}

.page-not-found h1{
    margin-top: 30px;
    font-size: 1.3rem;
    font-weight: 600;
}

.page-not-found h2{
    margin-top: 10px;
    text-align: center;
    width: 250px;
    font-size: 1rem;
    font-weight: 300;
    color: #747474;
}